:root {
  --season-primary: rgba(252, 167, 223, 1);
  --season-secondary: rgba(252, 167, 223, 0.6);
}

body {
  margin: 0;
  padding: 0;
}
#root {
  background-color: #000000;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}