@font-face {
  font-family: 'Vox Wide W06 Medium';
  src: url('/fonts/VoxWideW06Medium.woff2') format('woff2'),
       url('/fonts/VoxWideW06Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
} 